body {
    /* background-color: rgb(43, 209, 252); */
    background-color: #222;
    font-family: 'Luckiest Guy';
    padding: 2em;
    color: white;
    background-image: repeating-linear-gradient( to bottom, transparent 7px, rgba(0, 0, 0, 0.8) 9px, rgba(0, 0, 0, 0.8) 50px, transparent 13px);
}

path {
    fill: transparent;
}

.center {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.hangman-header {
    fill: cornsilk;
    font-family: 'Luckiest Guy', cursive;
    letter-spacing: 0.5rem;
    font-size: 5em;
    text-shadow: 1px 1px 2px #f2b3be, 0 0 25px #f2b3be, 0 0 5px #f2b3be;
    margin-top: 0;
    animation: blink 5s infinite;
    -webkit-animation: blink 5s infinite;
}

@keyframes blink {
    20%, 24%, 55% {
        color: rgb(8, 10, 10);
        text-shadow: none;
    }
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
        /* text-shadow: 0 0 5px #0084ff, 0 0 15px #0084ff, 0 0 20px #0084ff, 0 0 40px #0084ff, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000; */
        text-shadow: 0 0 5px #0084ff, 0 0 15px #0084ff, 0 0 20px #0084ff, 0 0 40px #0084ff, 0 0 60px #7700ff, 0 0 10px #ffee00, 0 0 98px #0066ff;
        color: #dfe7fc;
    }
}

.midsize-text {
    font-size: 30px;
}

.smaller-midsize-text {
    font-size: 20px;
}

#new-container {
    text-align: center;
    margin-bottom: 3em;
}

button {
    padding: 0.5em;
    background-color: #FFFFFF;
    box-shadow: -4px 3px 2px 3px #f2b3be;
    border: none;
    margin: 1rem;
    border-radius: 3px;
}

button:focus {
    outline: none;
}

button:active {
    box-shadow: -3px 3px 2px 2px #e66d81;
}

#game-div {
    display: none;
    border-radius: 10px;
    width: 80%;
}

#wrong-guesses-div {
    width: 10em;
    margin: auto;
}

#wrong-guessed-letters {
    border-style: solid;
    border-color: black;
    padding: 3px;
    margin: 1px;
}

#puzzle {
    width: 76%;
    margin: auto;
}

.space {
    margin-left: 0.7em;
}

#guess-form {
    margin-top: 2em;
}

.div-pink-shadow {
    filter: drop-shadow(0 0 0.75rem #F94A66);
}

.pink-modal {
    border-radius: 5px;
    background-color: #F94A66;
    padding: 20px;
    text-align: center;
    width: 76%;
    margin-top: 3rem;
}

#custom-game-form label {
    margin: 0.5em;
    display: block;
}

#custom-game-form input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    border-radius: 3px;
}

#custom-game-form input[type=submit] {
    width: 50%;
    background-color: #FFFFFF;
    text-decoration: none;
    border: none;
    box-shadow: -4px 3px 2px 3px #f2b3be;
}

#custom-game-form input[type=submit]:focus {
    outline: none;
}

#custom-game-form input[type=submit]:active {
    box-shadow: -3px 3px 2px 2px #e9bac2;
}

#guess-form input {
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#guess-submit {
    border: none;
    margin: 0.5rem;
    background-color: #FFFFFF;
    text-decoration: none;
    box-shadow: -2px 1px 0px 1px #f2b3be;
    border-radius: 3px;
}

#guess-submit:focus {
    outline: none;
}

#guess-submit:active {
    box-shadow: -1px 1px 0px 0px #e9bac2;
}

.placeholder {
    font-size: 2em;
}

input[type='text'], input[type='number'], textarea {
    font-size: 16px;
}